<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
{#个人中心#}
<meta http-equiv="refresh" content="3;url={% url 'login' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="height: 300px;justify-content: center;display: flex">
    <img src="{% static 'img/success.png' %}" style="width: 300px;height: 300px">

</div>

<div style="height: 300px;justify-content: center;display: flex">
    <text style="color: #00aced;font-size: 60px">{{ result }}成功!</text>
</div>


</body>
</html>